.a {
  position     : relative;
  margin       : auto;
  width        : 275px;
  height       : 125px;
  background   : #a1a6f1;
  transform    : rotate(335deg);
}
body {
    width: 1000px;
  height: 754px;
  background: linear-gradient(#05FBFF, #1E00FF);
}
